/* NAVIGATION BAR */
.LoH-logo {
    padding:12px;
    transition-delay:50ms;
    transition-duration:250ms;
    width:30px;
}

.LoH-logo:hover {
    transform:scale(1.25);
}

.nav-elt {
    border-radius:13px;
    padding:20px;
    transition:250ms;
}

.nav-elt:hover {
    background-color:#111;
    border-radius:0;
}

.navbar li a {
    display:block;
    float:left;
    text-align:center;
}

.navbar ul {
    background-color:#333;
    list-style-type:none;
    margin:0;
    overflow:hidden;
    padding:0;
}

/* SEARCH BAR */
.search-box {
    float:right;
    padding:14px 100px 14px 20px;
}

.search-box:hover > .search-txt {
    padding:0 6px;
    width:240px;
}

.search-btn {
    align-items:center;
    background:#333;
    border-radius:50%;
    color:#eee;
    display:flex;
    float:right;
    height:30px;
    justify-content:center;
    width:30px;
}

.search-btn:hover {
    color:orange;
}

.search-txt {
    background:#333;
    background:none;
    border:none;
    border-radius:40px;
    color:#fff;
    float:left;
    height:30px;
    outline:none;
    padding:0;
    transition:400ms;
    width:0;
}