/* NAVIGATION BAR */
.LoH-logo {
    width: 30px;
    padding: 12px;
    transition-duration: 250ms;
    transition-delay: 50ms;
}

.LoH-logo:hover {
    transform: scale(1.25);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li a {
    display: block;
    text-align: center;
    float: left;
}

.nav-elt {
    padding: 20px 20px;
    transition: 250ms;
    border-radius: 13px;
}

.nav-elt:hover {
    background-color: #111;
    border-radius: 0;
}

/* SEARCH BAR */
.search-box {
    float: right;
    padding: 14px 100px 14px 20px;
}

.search-txt {
    background: #333;
    height: 30px;
    border-radius: 40px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    transition: 400ms;
    width: 0px;
}

.search-btn {
    color: #eee;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-btn:hover {color: #ffa500;}