#champions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 6em;
    align-items: center;
}

#champions figure {
    background-color: #999;
    border-radius: 20px;
    margin: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    transition-delay: 50ms;
    transition-duration: 250ms;
}

#champions figure a {
    text-decoration: none;
    color: lightgray;
}

#champions figure figcaption:hover {
    color: #000;
    transition-duration: 250ms;
}

#champions figure:hover {
    background-color: #a9a9a9;
    cursor: pointer;
    transform: scale(1.125);
}

#champions figure img {
    background-color: lightgray;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: gray 0 0 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#champ-toptext {
    padding-top: 2em;
}