#champions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 6em;
    align-items: center;
}

#champions figure {
    background-color: #999;
    border-radius: 20px;
    margin: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    transition-delay: 50ms;
    transition-duration: 250ms;
}

#champions figure a {
    text-decoration: none;
    color: lightgray;
}

#champions figure figcaption:hover {
    color: #000;
    transition-duration: 250ms;
}

#champions figure:hover {
    background-color: #a9a9a9;
    cursor: pointer;
    transform: scale(1.125);
}

#champions figure img {
    background-color: lightgray;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: gray 0 0 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#toptext {
    font-size: 24px;
    margin: 2em 2em 1em 2em;
    text-align: center;
}

#search-champion {
    background-image: url('/src/img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    max-width: 200px;
    min-width: 10%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 1em;
}

/* Mobile */
@media screen and (max-width:800px) {
    #champions {
        margin: 1em 3em;
    }

    #champions figure {
        margin: 1em;
        width: 105px;
    }
    
    #champions figure img {
        height: 105px;
        width: 105px;
    }
    
    #toptext {
        font-size: 16px;
    }
}

/* 4k and above */
@media screen and (min-width:2000px) {
    #champions {
        margin: 2em;
    }

    #champions figure {
        margin: 2em;
        width: 400px;
    }

    #champions figure img {
        height: 400px;
        width: 400px;
    }

    #toptext {
        font-size: 32px;
    }
}