.searchbar h1 {
    padding: 10vh 0 5px;
}
.searchbar p {
    padding-bottom: 3vh;
}
#search-btn {
    background-color: #333;
    border-radius: 10px;
    color: #f1f1f1;
    padding: 10px 0;
    transition-duration: 250ms;
}
#search-btn:hover {
    background-color: #888;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.searchbar {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: var(--box-shadows);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: var(--box-shadows);  /* Firefox 3.5 - 3.6 */
    box-shadow: var(--box-shadows);
    margin-top: 8%;
    height: 100hv;
    padding: 30px 80px;
    width: 40%;
}
.searchbar input,
.searchbar select {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
.searchbar option {
    background-color: #f1f1f1;
}