/* TAGS */
a:hover, a:active {
    color:orange;
    text-decoration:none;
}

a:link, a:visited {
    color:#eee;
    text-decoration:none;
}

body {
    font:16px sans-serif;
    margin:0;
    padding:0;
}