.champ-img {
    border-radius:20px;
    height:same-as-width;
    object-fit:cover;
    transition-duration:250ms;
    width:100%;
}

.champ-img:hover {
    border-radius:5px;
}

figure {
    margin:10px;
}

figure a {
    float:right;
    text-align:center;
    transition-duration:250ms;
    width:100%;
}

figure a p {
    margin:5px;
}

figure a:hover {
    transform:scale(1.1);
}

table {
    padding-top:40px;
}