.champ-lines {
    margin: 0;
}

figure a {
    float: right;
    width: 100%;
    text-align: center;
    transition-duration: 250ms;
}

figure a p {
    margin: 5px;
}

figure a:hover {
    transform: scale(1.1);
}

.champ-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 250ms;
}

